<nav class="navbar navbar-expand-md navbar-dark dark-primary-color ">
	<div class="container">
		<a class="navbar-brand" routerLink="/">
			<h3>Nebula</h3>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarMain" >
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" routerLink="/user/register" *ngIf="!user">register</a>
				</li>
				<li>
					<a class="nav-link" routerLink="/user/login" *ngIf="!user">login</a>
				</li>
				<li>
					<a class="nav-link" (click)="goToProfile()" *ngIf="user">profile</a>
				</li>
				<li>
					<a class="nav-link" (click)="onLogoutClick()" href="#" *ngIf="user">logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>