<nav class="navbar navbar-expand-md navbar-dark dark-primary-color">
	<div class="container">
		<a href="" class="navbar-brand">
			<h3>Nebula</h3>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarMain" >
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a href="" class="nav-link">about</a>
				</li>
				<li>
					<a href="" class="nav-link">pricing</a>
				</li>
			</ul>

			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a href="" class="nav-link">register</a>
				</li>
				<li>
					<a href="" class="nav-link">login</a>
				</li>
			</ul>
		</div>
	</div>
</nav>