<section class="loginBg">
	<app-navbar></app-navbar>
	<flash-messages></flash-messages>
	<div class="container text-primary-color">
		<br>
		<br>
		<h2 class="display-2 text-center">Employee Login</h2>
		<br>
		<br>
		<form action="" (submit)="onEmployeeLoginSubmit()">
			<div class="form-group">
				<label for="">Email:</label>
				<input type="email" class="form-control" name="email" [(ngModel)]="email">
			</div>
			<div class="form-group">
				<label for="">Password:</label>
				<input type="password" class="form-control" name="password" [(ngModel)]="password">
			</div>
			<div class="form-group">
				<label for="">Company Code:</label>
				<input type="text" class="form-control" name="companyCode" [(ngModel)]="companyCode">
			</div>
			<input type="submit" class="btn btn-primary">
			<br>
			<br>
		</form>
		<br>
		<br>
		<a routerLink="/user/login" class="btn btn-primary">User Login</a>
	</div>
</section>
