<div class="parallax">
	<br>
	<br>
	<div class="container">
		<h1 class="display-2 text-primary-color">Nebula: </h1>
		<h3 class="display-4 text-primary-color">Subscription Based ERP</h3>
		<br>
		<p class="lead text-primary-color">Nebula is an online Enterprise Resource Planning platform with a subscription based model built for efficiency and designed for affordability</p>
		<p class="lead text-primary-color">With the Nebula platform any organization from a non-profit to small businesses to large enterprises can have the same resource management at affordable prices</p>
	</div>
	<br>
	<br>
</div>

<div class="dark-primary-color">
	<br>
	<br>
	<div class="container">
		<h3 class="display-3 text-primary-color">About</h3>
		<br>
		<p class="lead text-primary-color">Nebula is a school project for CSC 380 at The Catholic University Of America in Washington D.C.</p>
		<p class="lead text-primary-color">Contributors:</p>
		<div class="container">
			<ul class="list-group list-group-flush shadow">
				<li class="list-group-item">Austin Chiles</li>
				<li class="list-group-item">James Conroy</li>
				<li class="list-group-item">Tyler DeBrino</li>
				<li class="list-group-item">Andrew Mingst</li>
			</ul>
		</div>
		<br>
	</div>
	<br>
	<br>
</div>

<div class="parallax">
	<br>
	<br>
	<div class="container">
			<h3 class="display-3 text-primary-color">Pricing</h3>
			<p class="lead text-primary-color">These are the subscription tiers for the Nebula service: </p>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="card shadow">
					<div class="card-body">
						<h5 class="card-title">Free</h5>
						<h6 class="card-subtitle mb-2 text-muted">for companies with fewer than 50 employees</h6>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"> - Up to 50 Employees</li>
							<li class="list-group-item"> - Less than $100k in yearly revenue</li>
							<li class="list-group-item"> - Ideal for small businesses</li>
						</ul>
						<br>
						<p class="card-text">Price: Free</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card shadow">
					<div class="card-body">
						<h5 class="card-title">Non-Profit</h5>
						<h6 class="card-subtitle mb-2 text-muted">for non-profit organizations</h6>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"> - Up to 200 Employees</li>
							<li class="list-group-item"> - Must be a registered non-profit organization</li>
							<li class="list-group-item"> - Must be run through a verification process</li>
						</ul>
						<br>
						<p class="card-text">Price: Free</p>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-6">
				<div class="card shadow">
					<div class="card-body">
						<h5 class="card-title">Basic</h5>
						<h6 class="card-subtitle mb-2 text-muted">for companies with fewer than 200 employees</h6>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"> - Up to 200 Employees</li>
							<li class="list-group-item"> - Less than $500k in yearly revenue</li>
							<li class="list-group-item"> - Ideal for businesses that want to scale</li>
						</ul>
						<br>
						<p class="card-text">Price: $200/month</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card shadow">
					<div class="card-body">
						<h5 class="card-title">Enterprise</h5>
						<h6 class="card-subtitle mb-2 text-muted">for companies with fewer than 1000 employees</h6>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"> - Up to 1000 Employees</li>
							<li class="list-group-item"> - Less than $5m in yearly revenue</li>
							<li class="list-group-item"> - Ideal for larger businesses</li>
						</ul>
						<br>
						<p class="card-text">Price: $5000/month</p>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-6">
				<div class="card shadow">
					<div class="card-body">
						<h5 class="card-title">Fortune 500</h5>
						<h6 class="card-subtitle mb-2 text-muted">for companies with fewer than 5000 employees</h6>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"> - Up to 5000 Employees</li>
							<li class="list-group-item"> - Less than $100m in yearly revenue</li>
							<li class="list-group-item"> - Ideal for large corperations</li>
						</ul>
						<br>
						<p class="card-text">Price: $10,000/month</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 align-items-stretch d-flex">
				<div class="card shadow">
					<div class="card-body">
						<h5 class="card-title">Custom</h5>
						<h6 class="card-subtitle mb-2 text-muted">Custom solutions for your business</h6>
						<br>
						<p class="card-text">If our options don't support your needs, the Nebula team will create a custom solution tailored for you. Just submit a request form to the support team and we will assess your needs</p>
						<br>
						<br>
						<p class="card-text">Price: <a href="" class="btn btn-primary">See here</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
</div>