.loginUser {
	background-image: url("C:/Users/Andrew/Desktop/Enterprise-Resource-Planning/nebula-client/angular-src/src/assets/img/2819340-space-horsehead-nebula-nebula___cosmos-space-wallpapers.jpg");
	height: 100%;
	width: 100%;
}