.registerBg {
	background-image: url('../../../assets/img/2819340-space-horsehead-nebula-nebula___cosmos-space-wallpapers.jpg');
	position: fixed;
	min-height: 100%;
	min-width: 1024px;

	width: 100%;
	height: auto;
	top: 0;
	left: 0;
}